.stock-ticker {
  width: 32.0rem;
  height: 54.0rem; }
  .stock-ticker h1 {
    font-size: 3.2rem; }
  .stock-ticker h2 {
    font-size: 2.6rem; }
  .stock-ticker h3 {
    font-size: 2.4rem; }
  .stock-ticker h4 {
    font-size: 1.8rem; }
  .stock-ticker h5 {
    font-size: 1.6rem; }
