@charset "UTF-8";
.stock-ticker {
  width: 16.0rem;
  height: 16.0rem;
  background: #545454;
  color: #fff;
  font-size: 1.0rem;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 1.3rem rgba(0, 0, 0, 0.8);
  text-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.4), 0 0 0.4rem rgba(0, 0, 0, 0.22); }
  .stock-ticker h2 {
    font-size: 2.6rem;
    padding: 1.2rem 0 0.8rem;
    margin: 0; }
  .stock-ticker h4 {
    font-size: 1.8rem;
    margin: 0; }
    .stock-ticker h4::after {
      content: '';
      position: absolute;
      margin-left: 0.4rem; }
    .stock-ticker h4.up::after {
      content: '▲'; }
    .stock-ticker h4.down::after {
      content: '▼'; }
    .stock-ticker h4.up::after, .stock-ticker h4.down::after {
      animation: flash 1s ease forwards; }

@keyframes flash {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .stock-ticker h2, .stock-ticker h4 {
    font-weight: 300;
    transition: color 250ms linear; }
    .stock-ticker h2.up, .stock-ticker h4.up {
      color: #2ecc71; }
    .stock-ticker h2.down, .stock-ticker h4.down {
      color: #e74c3c; }
  .stock-ticker .time {
    height: 1.2em;
    margin-bottom: 1.0rem;
    color: #aaa; }
  .stock-ticker h5 {
    font-size: 1.4rem;
    margin: 1.2rem 0;
    font-weight: 300; }

.stock {
  float: left;
  margin: 1.6rem;
  position: relative; }
  .init .stock {
    display: none; }
  .stock.empty {
    position: relative;
    width: 15.6rem;
    height: 15.6rem;
    border: 2px dashed #aaa;
    text-align: center;
    perspective: 1000px; }
    .stock.empty .flipper,
    .stock.empty .select-new,
    .stock.empty .spinner {
      width: 100%;
      height: 100%; }
    .stock.empty .flipper {
      position: relative;
      transition: 0.6s;
      transform-origin: 100% 50%;
      transform-style: preserve-3d; }
    .stock.empty.loading .flipper {
      transform: rotateX(-180deg); }
    .stock.empty .select-new,
    .stock.empty .spinner {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0; }
    .stock.empty .select-new {
      display: block;
      color: #aaa;
      text-decoration: none;
      font-size: 6.4rem;
      line-height: 15.6rem;
      z-index: 2;
      transform: rotateX(0deg); }
    .stock.empty .spinner {
      transform: rotateX(180deg); }
    .stock.empty:not(.loading):hover {
      border-color: white; }
      .stock.empty:not(.loading):hover .select-new {
        color: white; }
    .stock.empty ul {
      scrollbar-face-color: #ccc;
      scrollbar-3dlight-color: transparent;
      scrollbar-highlight-color: transparent;
      scrollbar-shadow-color: transparent;
      scrollbar-darkshadow-color: transparent;
      scrollbar-track-color: transparent;
      scrollbar-arrow-color: transparent;
      margin: 0.5rem;
      padding: 0;
      height: calc(100% - 1.0rem);
      font-size: 1.4rem;
      list-style: none;
      overflow: auto; }
      .stock.empty ul::-webkit-scrollbar {
        background: transparent;
        width: .8rem;
        height: .8rem; }
      .stock.empty ul::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        background-image: -webkit-linear-gradient(90deg, #7b7d81 0%, #d0d3d8 100%);
        box-shadow: 0.05rem 0.08rem 0.1rem 0rem rgba(0, 0, 0, 0.71), inset 0.05rem 0.08rem 0rem 0rem rgba(255, 255, 255, 0.45); }
      .stock.empty ul::-webkit-scrollbar-track {
        border-radius: .4rem;
        background-image: -webkit-linear-gradient(90deg, #35373b 0%, #303235 100%);
        box-shadow: inset 0.05rem 0.08rem 0.3rem 0rem rgba(0, 0, 0, 0.36); }
      .stock.empty ul::-webkit-scrollbar-corner {
        background: transparent; }
      .stock.empty ul a {
        display: block;
        text-decoration: none;
        color: #aaa; }
        .stock.empty ul a:hover {
          color: white; }
  .stock > button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.0rem;
    border: none;
    background: none;
    color: #aaa;
    cursor: pointer; }
    .stock > button:hover {
      color: white; }

.app-container > .spinner {
  width: 0;
  margin: auto; }

.spinner::after {
  content: '\20DB';
  display: block;
  animation: rotate 1.5s linear infinite;
  color: #aaa;
  font-size: 10.3rem;
  height: 9rem;
  padding: 3.3rem 0; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

@keyframes rotate {
  to {
    transform: rotate(360deg); } }
