.stock-ticker {
  width: 16.0rem;
  height: 16.0rem;
  float: left;
  background: #545454;
  color: #fff;
  margin: 1.6rem;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 1.3rem rgba(0, 0, 0, 0.8); }
  .stock-ticker h2 {
    font-size: 2.6rem;
    font-weight: 300;
    margin: 1.6rem 0; }
  .stock-ticker h4 {
    font-size: 1.8rem;
    margin: 1.6rem 0; }
  .stock-ticker h5 {
    font-size: 1.6rem;
    margin: 1.0rem 0;
    font-weight: 300; }
