@import "_vars";

.stock-ticker {
    width: 16.0rem;
    height: 16.0rem;
    background: #545454;
    color: #fff;
    font-size: 1.0rem;
    text-align: center;
    box-shadow: .2rem .2rem 1.3rem rgba(#000, 0.8);
    text-shadow: .1rem .1rem 0 rgba(#000, 0.4), 0 0 .4rem rgba(#000, 0.22);

    h2 {
        font-size: 2.6rem;
        padding: 1.2rem 0 0.8rem;
        margin: 0;
    }

    h4 {
        font-size: 1.8rem;
        margin: 0;

        &::after {
            content: '';
            position: absolute;
            margin-left: 0.4rem;
        }

        &.up::after {
            content: '▲';
        }

        &.down::after {
            content: '▼';
        }

        &.up, &.down {
            &::after {
                animation: flash 1s ease forwards;
            }
        }

        @keyframes flash {
            0% { opacity: 0; }
            25% { opacity: 1; }
            100% { opacity: 0; }
        }
    }

    h2, h4 {
        font-weight: 300;
        transition: color 250ms linear;

        &.up {
            color: $green;
        }

        &.down {
            color: $red;
        }
    }

    .time {
        height: 1.2em;
        margin-bottom: 1.0rem;
        color: #aaa;
    }

    h5 {
        font-size: 1.4rem;
        margin: 1.2rem 0;
        font-weight: 300;
    }
}
